html,
body,
header,
div,
main,
section,
h2,
p,
button,
input,
article,
ul,
li,
img,
h3,
a,
form,
textarea,
footer,
figure,
h1,
h4,
h5,
h6 {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

	
figcaption
{
display: none;
}
